@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    background-image: url("../stone.gif");
    font-family: Sarabun, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.body_container {
    margin: 0 auto;
    padding: 22px 0;
    max-width: 1080px;
}

#calendar {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 300px;
}

th,
td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    min-width: 50px;
}

#calendar-title th {
    font-size: larger;
    font-weight: 700;
    background-color: rgba(219, 255, 255, 0.495);
}

#calendar-row th {
    font-size: larger;
    font-weight: 300;
}

.different-month {
    color: rgb(150, 82, 0);
}

.text-center {
    text-align: center !important;
}


.sook_header {
    width: 100%;
}

.sook_north {
    background: #2242A6;
    max-height: 35px;
}

.sook_south {
    background: orange;
    height: 0.5vh;
}

.sook_text {
    font-size: 90%;
    font-family: "Helvetica Neue", serif;
    padding: 5px;
    text-align: right;
    color: white;
    height: 100%;
    margin-top: -7px;
}