@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.topnav {
    /* background-color:; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sook_header {
    width: 100%;
}

.sook_north {
    background: #2242A6;
    max-height: 57px;
}

.sook_south {
    background: orange;
    height: 3px;
}

.sook_text {
    font-size: 85%;
    font-weight: 600;
    padding: 5px;
    text-align: right;
    color: white;
    height: 100%;
    /* margin-top: 0px; */
}

.emailspin {
    padding: 10px 20px;
}


.blur-effect {
    --colornav-backdrop-filter-opacity: 1;
    --colornav-bg-alpha: .8;
    backdrop-filter: blur(22px) saturate(1.86);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backface-visibility: hidden;
    background: rgba(245, 245, 247, .82);
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

html {
}

body {
    /*background-image: url("/assets/stone.gif");*/
    font-family: Sarabun, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #f5f5f5 !important;
}

.parallax {
    /* The image used */
    background-image: url("assets/underconstruction.jpg");

    /* Set a specific height */
    min-height: calc(100vh);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body_container {
    margin: 0 auto;
    padding: 22px;
    max-width: 1290px;
}


.feature_header {
    font-size: 42px;
    margin-left: 2px;
    margin-top: 32px;
}

.feature_rounded {
    background-color: #fff;
    border-radius: 22px;
    margin: 0 12px;
    min-height: 400px;
    padding: 22px 32px 20px!important;
}

.html-history{
    width: 50%;
}


.html-small-box{
    /*border: 1px solid black;*/
    border-radius: 12px;
    padding: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 22%;
    min-height: 192px;
    justify-content: space-between;
}

.html-small-box img {
    height: 88px;
    width: auto;
    object-fit: contain;
}

.html-small-box h5 {
    text-align: center;
}
