@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-image: url("https://www.it.kmitl.ac.th/~pattarachai/PIC/BG/stone.gif");

}

* {
    box-sizing: border-box;
    font-family: 'Sarabun', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body_container {
    margin: 0 auto;
    padding: 22px 0;
    max-width: 1290px;
}

.row {
    display: flex;
    flex: auto;
    flex-direction: row;
    column-gap: 16px;
}

.column {
    display: flex;
    flex: auto;
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;
}

.contact_info {
    max-width: 600px;
}

.contact_img {
    width: 200px;
    height: auto;
}

#publications em {
    font-style: italic;
}

.section {
    margin-top: 16px;
}

#publications h3,
#teaching_ex h3 {
    margin: 16px 0 6px 0;
    font-style: italic;
}

p {
    margin: 0;
}