body {
    background: url(../images/best.webp) 0 0 no-repeat fixed;
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

#about-container {
    margin: 0 auto;
}