body {
    background: url(../images/tae.webp) 0 0 no-repeat fixed;
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

.image-text {
    background: rgba(245, 245, 247, .86) !important;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.image-text p {
    color: black;
}

.main-body {
    max-width: 1280px;
    margin: 0 auto;
}

iframe {
    margin: 0 5px;
}


.sook_header {
    width: 100%;
}

.sook_north {
    background: #2242A6;
    max-height: 25px;
}

.sook_south {
    background: orange;
    height: 0.5vh;
}

.sook_text {
    font-size: 90%;
    font-family: "Helvetica Neue", serif;
    padding: 5px;
    text-align: right;
    color: white;
    height: 100%;
    margin-top: -7px;
}
